html {
  position: relative;
  min-height: 100%;
  font-family: "Poppins", sans-serif;
}

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0 auto;
  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f6e1da;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  min-height: 100%;
}

a {
  font-weight: 500;
  color: black;
}
a:hover {
  color: grey;
  text-decoration: none;
}

body {
  place-items: center;
  min-width: 320px;
  min-height: 100%;
  background-color: #f9efe4;
  position: relative;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.site-wrapper {
  min-height: 100%;
}

main {
  padding-bottom: 50px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: grey;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: grey;
  }
  button {
    background-color: #f9f9f9;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  background-color: #f9efe4;
  margin: 0px;
  padding: 0.5% 8%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.navbar-nav {
  gap: 30px;
}

.header-cart {
  position: relative;
}
.header-cart > div {
  position: absolute;
  top: 0;
  left: 25px;
  background-color: #CC998A;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  font-size: 0.8em;
}

.site-logo {
  display: inline-block;
  margin: 0;
  padding: 0.5%;
}

.site-logo > img {
  max-width: 60%;
  height: auto;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
  overflow: visible;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input,
button {
  font-size: 1em;
}

.search > input {
  padding: 10px 30px;
  border: none;
  border-radius: 25px 0 0 25px;
  outline: none;
  font-family: "Poppins", sans-serif;
  max-width: 100%;
}

.search > button {
  background-color: #e3ab9a;
  color: #fff;
  border-radius: 0 25px 25px 0;
  border: solid #e3ab9a;
}

.search > button:hover {
  background-color: #CC998A;
  border: solid #CC998A;
}

.search > button:active {
  background-color: #CC998A;
  border: solid #CC998A;
}

.cart-logo {
  max-width: 50%;
}

/* resize navbar on medium screens */
@media all and (max-width: 800px) {
  .search {
    max-width: 58%;
  }
  .header {
    gap: 3px;
  }
  .search > input {
    padding: 10px 10px;
    width: 60%;
  }

  .search > button {
    padding: 10px 10px;
    width: 40%;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9efe4;
  background-color: grey;
  padding: 10px 0px;
  width: 100%;
  position: absolute;
  bottom: -50px;
  height: 50px;
}

.not-found {
  background-image: url("../assets/notfound-books.png");
  background-size: 630px;
  background-repeat: no-repeat;
  background-position: right 30px top 30px;
  height: 400px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.not-found > h1 {
  text-align: left;
  width: 360px;
  font-weight: 900;
}

.homepage-title {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.books-listing {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the minimum and maximum width as needed */
  gap: 80px 20px;
  justify-content: space-evenly;
  margin: 150px 30px 0px 30px;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.book-card:hover {
  opacity: 70%;
}

.book-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 188px;
}

.book-card-img > img {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  height: 100%;
  width: auto;
}

.book {
  display: flex;
  justify-content: space-around;
  gap: 60px;
  text-align: justify;
  flex-wrap: wrap;
  margin: 100px 60px;
}

.book-image {
  width: 30%;
  height: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.book-info {
  width: 60%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}

.carousel {
  display: flex;
  align-items: center;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  gap: 70px;
}

.carousel-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
}

.carousel-item {
  width: calc(33.33% - 20px);
  min-width: 180px;
  padding: 10px;
  margin: 10px;
}

.book-card-title {
  display: inline;
  text-align: center;
  max-height: 3em;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}

.book-card-author {
  margin: 0;
}

.carousel-item img {
  max-width: 100%;
  height: 210px;
  max-height: 100%;
}

.carousel-button {
  background-color: transparent;
}

.carousel-button i {
  font-size: 24px;
  color: #e3ab9a;
}

.carousel-button:disabled i {
  color: #ccc;
  cursor: not-allowed;
}

.add-to-cart {
  margin-top: 30px;
  background-color: #8bc391;
  color: white;
  max-width: fit-content;
}

.add-to-cart:active {
  background-color: #698c6c;
}

.cart {
  margin: 3%;
}

.cart > h1 {
  margin: 0% 10%;
}

.cart-items {
  margin: 5% 10%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.book-cart-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.book-cart-image {
  max-height: 100px;
}

.book-cart-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 90%;
}

.book-cart-title {
  width: 40%;
}

.book-cart-title > .title {
  display: flex;
  flex-direction: column;
  font-weight: 800;
}

.book-cart-pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  flex-wrap: wrap;
}

.book-cart-price, .book-cart-subtotal {
  width: 20%;
}

.book-cart-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 60%;
  min-width: 180px;
  flex-basis: fit-content;
}

@media all and (max-width: 930px) {
  .cart-header, .book-cart-price {
    display: none;
  }
  .book-cart-quantity {
    justify-content: flex-start;
  }
}

.total-price {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
  font-weight: 700;
}